body {
    margin: 0;
}

.flag {
    width: 900px;
    height: 600px;
    background-color: red;
    position: relative;
}

p {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: white;
}

.flag > div {
    background-color: blue;
    height: 300px;
    width: 900px;
    position: absolute;
    top: 150px;
}

.flag > div > div {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 350px;
}

.flag > div > div > p{
    color: black;
}